html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    max-width: 810px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 24px;
    position: relative;
}

.hero-image {
    width: 45%;
    position: relative;
    z-index: -1;
}

.hero-image svg {
    position: relative;
    right: 34%;
    overflow: visible;
}

.hero-content {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding-top: 64px;
}

.hero-title {
    font-family: Roboto-Regular;
    font-size: 95px;
    color: #000000;
}

.hero-subtitle {
    font-family: Roboto-Regular;
    font-size: 24px;
    color: #AB8251;
    margin-left: 8px;
    font-style: italic;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-social-link-title {
    font-weight: bold;
    font-size: 16px;
    color: #1baab5;
    text-transform: uppercase;
}

.hero-social-link-container {
    margin-left: 8px;
}

.hero-social-links {
    margin-top: 16px;
}

.hero-social-links a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

.hero-social-links > a i {
    font-size: 1.8em;
    padding: 1px;
    padding-right: 0.8em;
    color: #3d3f3f;
}

.hero-social-links a:hover {
    color: #6B4F31 !important;
}

.hero-social-links > a i:hover {
    color: #6B4F31 !important;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-container {
	margin-top: 16px;
}
.contact-container a {
	color: gray;
	padding: 8px 16px 0px 0px;
}
.linkedin {
    color: #0e76a8 !important;
}
.github {
    color: #211F1F !important;
}
.twitter {
    color: #00acee !important;
}
.devto {
    color: #222221 !important;
}
.skillset { 
    /* background: yellow; */
    max-width: 250px;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    padding-bottom: 1em;
}

.skillset small{
    color: #b2a697;
    color: #3b3328bd;
    font-size: 16px;
    padding-bottom: 6px;
    cursor: pointer;
    display: inline;
}

.skillset small:hover{
    color: #1baab5;
}

@media screen and (max-width:835px) {
    .hero-image {
        transform: scale(0.5);
        position: absolute;
        top: -320px;
        left: 0;
    }

    .hero-container {
        justify-content: center;
        margin-top: 250px;

    }

    .hero-social-link-container {
        margin-top: 10px;
    }
}

@media screen and (max-width:480px) {
    
    .hero-title {
        font-size: 85px;
    }

    .hero-image {
        transform: scale(0.4);
    }

    .hero-container {
        margin-top: 200px;
    }
}

@media screen and (max-width:360px) {
    .hero-image {
        transform: scale(0.3);
    }

    .hero-container {
        margin-top: 150px;
    }

    .hero-content {
        padding-top: 24px;
    }
    .hero-title {
        font-size: 80px;
    }
}

@media screen and (max-width:320px) {
    .hero-title {
        font-size: 75px;
    }
    .hero-image {
        transform: scale(0.25);
        top: -290px;
    }

    .hero-container {
        margin-top: 100px;
    }
}
